<html>
	<head>
	    <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" media="screen">
	</head>

	<body class="disabled">
		<script src="jquery-1.11.3.min.js"></script>
		<script src="popup.js"></script>
		<div id="ahoy-turnedoff">
			<div class="isDisabled">O <strong>Ahoy!</strong> está desactivado. </div>
			<div>Nenhum site será desbloqueado enquanto não o activar.</div>
			<div>
				<img class="poweron" src="../img/power.svg">
			</div>
			<div class="buttons">
				<button id="activarAhoy">Activar Ahoy!</button>
				<input type="hidden" autofocus />
			</div>

			<footer>
				<div>Feito com <span style="color: #ff0000">♥</span> em Portugal <span class="ahoy-version">v1.0</span></div>
				<div><a href="https://revolucaodosbytes.pt" target="_blank">#RevoluçãoDosBytes</a></div>
			</footer>
		</div>
	</body>
</html>
