<html>
	<head>
	    <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" media="screen">
	</head>

	<body>
		<script src="jquery-1.11.3.min.js"></script>
		<script src="popup.js"></script>
		<header>
			<h1>Ahoy!</h1>
		</header>
		<div class="inquerito">
			Ajude o Ahoy! Responda ao nosso inquérito aqui.
		</div>
		<div class="info">A utilizar <span id="proxyaddr">xxx.xxx.xxx.xxx</span>
			<div class="status activo">o proxy está activo para este site</div>
			<div class="status inactivo" style="display:none;">o proxy está inactivo para este site</div>
		</div>
		<div class="waiting" ><img src="wait.gif"></img></div>
		<div class="buttons">
			<button id="forcarProxy">Forçar Novo Proxy</button>
			<button id="listaSites">Actualizar Lista de Sites</button>
			<button id="verSites">Ver Lista de Sites</button>
			          <input type="hidden" autofocus />
		</div>

		<footer>
			<div>Feito com <span style="color: #ff0000">♥</span> em Portugal <span id="ahoy-version">v1.0</span></div>
			<div><a href="https://revolucaodosbytes.pt" target="_blank">#RevoluçãoDosBytes</a></div>
		</footer>
	</body>
</html>
