<html>
	<head>
	    <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" media="screen">
	</head>

	<body>
		<script src="jquery-1.11.3.min.js"></script>
		<script src="popup.js"></script>
		<div id="ahoy-mainscreen">
			<header>
				<h1>Ahoy!</h1>
			</header>
			<div class="inquerito">
				O Ahoy! precisa da tua ajuda! Clica aqui para saber mais.
			</div>
			<div class="info">A utilizar <span id="proxyaddr">xxx.xxx.xxx.xxx</span>
				<div class="status activo">site desbloqueado</div>
				<div class="status inactivo" style="display:none;">este site não está bloqueado</div>
			</div>
			<div class="waiting" ><img src="wait.gif"></img></div>
			<div class="buttons">
				<button id="actualizarPagina">Actualizar Página</button>
				<button id="verSites">Ver Lista de Sites</button>
				<button class="red" id="desactivarAhoy">Desactivar Ahoy!</button>

				<input type="hidden" autofocus />
			</div>

			<footer>
				<div>Feito com <span style="color: #ff0000">♥</span> em Portugal <span class="ahoy-version">v1.0</span></div>
				<div><a href="https://revolucaodosbytes.pt" target="_blank">#RevoluçãoDosBytes</a></div>
			</footer>
		</div>
	</body>
</html>
