<html>
	<head>
		<title>Ahoy! - Notas de Lançamento</title>
		<link rel="stylesheet" type="text/css" href="style.css" media="screen">
		 <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	</head>
	<body class="release-notes">
		<script src="jquery-1.11.3.min.js"></script>
		<script src="release-notes.js"></script>
		<header>
			<h1>Ahoy!</h1>
		</header>
	<section>
		<h2>Notas de Lançamento</h2>
		<article class="notas">
			<p>
				<h2 style="text-align: left;">Ahoy, amigo!</h2>
				É como muito gosto que lançamos mais uma versão do <strong>Ahoy!</strong>. Esta versão traz correcções de possíveis problemas quando a ligação ao proxy falhava, também impedia o acesso à internet. 
			</p>
			<p>
				O <strong>Ahoy!</strong> é uma plataforma que tem custos elevados de manuntenção, que neste momento é suportado por nós, do nosso próprio bolso, apenas por amor à camisola e para podermos oferecer uma internet sem censura em Portugal. É por isso que gostariamos de contar com a sua ajuda. Se todos ajudarmos é mais fácil manter o <strong>Ahoy!</strong> e garantir o seu futuro.
			</p>

			<p>
				Desenvolvemos uma página onde é possível fazer um donativo e acompanhar toda a campanha de recolha de fundos. Temos vários objectivos em mente, como o melhoramento da infraestrutura, criação de aplicações móveis e desktop, melhoramento da actual extensão e, finalmente, criar um serviço de VPN português com a nossa garantia de qualidade. Poderá ler sobre todos os nossos objectivos <a href="https://donativos.ahoy.pro/objectivos/?utm_source=ahoy&utm_medium=chrome-releasenotes&utm_campaign=Ahoy%20Chrome">nesta página</a>.
			</p>
		
			<p> Portanto, fica o convite: <strong>faça um donativo e ajude no desenvolvimento e manuntenção do Ahoy!</strong>
			</p>

			<p style="text-align: center;">
			<a href="https://donativos.ahoy.pro/?utm_source=ahoy&utm_medium=chrome-releasenotes&utm_campaign=Ahoy%20Chrome" title="Doar" class="doar">Ajudar o Ahoy!</a>
			</p>

			<h3>Aceitamos as suas sugestões!</h3>
			<p>Temos muitas novas notícias a caminho, com novas e interessantes funcionalidades. E a sua opinião é crucial para melhorarmos o <strong>Ahoy!</strong>. É por isso que pedimos e que contamos com as suas sugestões. O nosso email é <a href="mailto:ahoy@revolucaodosbytes.pt">ahoy@revolucaodosbytes.pt</a> e está aberto para as suas opiniões.</p>

			<p>Se programação é o seu forte, fica o convite para contribuir para o <strong>Ahoy!</strong> pelo nosso <a href="https://github.com/revolucaodosbytes/ahoy-chrome">GitHub</a>.
		</article>
	</section>
	<footer>
		<div>Feito com ♥ em Portugal <span id="ahoy-version">v1.0</span></div>
		<div><a href="https://revolucaodosbytes.pt/utm_source=ahoy&utm_medium=chrome-releasenotes&utm_campaign=Ahoy%20Chrome">#RevoluçãoDosBytes</a></div>
	</footer>
	</body>

</html>