body {
	font-family: Arial;
	text-align: center;
	width: 300px;
}


h1 {
	font-size: 20px;
	text-align: center;
	margin: 10px;
}

.info {
	margin: 10px;
}

.waiting { display: none; margin: 10px; }
.waiting img { width: 20px; height: 20px; }

.links {
	text-align: center;
}

.links a {
	text-decoration: none;
	display:block;
	margin-bottom: 10px;
}

a:visited {
	color: blue;
}